@use "/src/styles/index" as *;

.header {
    background: blue;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $defaultPadding 0;
}

.header__title {
    color: white;
    text-decoration: none;
    h1 {
        margin: 0;
    }
}

.content_container {
    margin: 0 auto;
    padding: 0 $defaultPadding;
    max-width: 80rem;
}
