@use "/src/styles/index" as *;

.input {
    height: 40px;
    padding: 0 12px;
    border: 1px solid #e5e7eb;
    border-radius: $defaultBorderRadius;
    font-size: 14px;
    outline: none;

    &:focus {
        border-color: #3b82f6;
    }

    &::placeholder {
        color: #9ca3af;
    }
}
