.boxLayout {
    background: #333333;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.boxLayout__box {
    background-color: fade-out(
        $color: (
            white,
        ),
        $amount: 0.15
    );
    border-radius: 3px;
    text-align: center;
    width: 25rem;
    padding: $defaultPadding;
}

.boxLayout__title {
    margin: 0 0 0 0;
    line-height: 1;
}

// Button

.button {
    background: blue;
    color: white;
    border: none;
    padding: 16px;
    display: inline-block;
    font-weight: 300;
    font-size: 1.8rem;
    text-decoration: none;
    line-height: 1;
}
